{% extends 'base.html' %}

{% block title %}Mes Expériences{% endblock %}

{% block content %}
    <h1>Mes Expériences Professionnelles</h1>

    <!-- Vérifier si l'utilisateur a des expériences -->
    {% if experiences %}
        <ul>
            <!-- Afficher chaque expérience dans une liste -->
            {% for experience in experiences %}
                <li>
                    <strong>{{ experience.titre }}</strong><br>
                    <em>{{ experience.date_debut }} - {% if experience.date_fin %}{{ experience.date_fin }}{% else %}En cours{% endif %}</em><br>
                    <p>{{ experience.description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Vous n'avez pas encore ajouté d'expériences professionnelles.</p>
    {% endif %}

    <!-- Lien pour revenir à la page de création ou d'édition des expériences -->
    <a href="{% url 'create_or_edit_experience' %}">
        <button type="button">Ajouter une expérience</button>
    </a>

    <!-- Lien pour revenir à la page d'accueil ou à d'autres sections -->
    <a href="{% url 'home' %}">
        <button type="button">Retour à l'accueil</button>
    </a>
{% endblock %}
