{% extends 'base.html' %}

{% block title %}Mes Informations Personnelles{% endblock %}

{% block content %}
    <h1>Mes Informations Personnelles</h1>
    
    {% if personne %}
        <p><strong>Nom :</strong> {{ personne.nom }}</p>
        <p><strong>Prénom :</strong> {{ personne.prenom }}</p>
        <p><strong>Date de Naissance :</strong> {{ personne.date_naissance }}</p>
        <p><strong>Photo :</strong>
            {% if personne.photo %}
                <img src="{{ personne.photo.url }}" alt="Photo de profil" width="150">
            {% else %}
                Aucune photo disponible.
            {% endif %}
        </p>
    {% else %}
        <p>Aucune information personnelle disponible.</p>
    {% endif %}

{% endblock %}
